body {
    background-color: #fdf1d3;
    padding: 5px;
}

img {
    height: 400px;
    width: 800px;
    justify-self: center;
}

h3 {
    padding: 20px;
    font-weight: bold;
}

#osnovno {
    padding: 20px;
}

#detalji {
    padding: 20px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
}


#detalji p {
    margin: 0;
    margin-bottom: 15px;
}



#upiti {
    padding: 20px; 
}

#upiti div {
    border: 1px solid black; 
    background-color: white;
    padding: 10px; 
    margin-bottom: 10px;
}
