body {
    background-color: #fdf1d3;
    padding: 10px;
}
iframe {
    top: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    border: none;
}
.property-type {
    font-size: 24px;
    margin: 20px 0;
}

.property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
}
.property-stan{
    background-color: white;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.property-kuca {
    background-color: powderblue;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.property-posao {
    background-color: green;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.property-image {
    width: 90%;
    max-height: 350px;
    margin-top: 10px;
}

.property-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 10px;
}

.property-name {
    font-weight: bold;
    width: 90%;
}

.property-area {
    width: 90%;
}

.property-price {
    text-align: right;
    width: 90%;
}

button {
    width: 80%;
    margin: auto 10px;
    padding: 10px;
    justify-self: center;
    margin-top: 10px;
}
